<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.manager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainProjectScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MANAGER ACTIVITIES -->
        <activity
            android:name=".Manager.Manager_TableList"
            android:parentActivityName=".Manager.Manager_MainScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manager.Manager_TableInformation"
            android:parentActivityName=".Manager.Manager_TableList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manager.Manager_Trans"
            android:parentActivityName=".Manager.Manager_MainScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manager.Manager_CompReports"
            android:parentActivityName=".Manager.Manager_MainScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manager.Manager_EmplReports"
            android:parentActivityName=".Manager.Manager_MainScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manager.Manager_TransInformation"
            android:parentActivityName=".Manager.Manager_Trans"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manager.Manager_EmplReportInformation"
            android:parentActivityName=".Manager.Manager_EmplReports"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manager.Manager_MainScreen"
            android:parentActivityName=".MainProjectScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Waitstaff.Waitstaff_MainScreen"
            android:parentActivityName=".MainProjectScreen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Waitstaff.Waitstaff_TablesActivity"
            android:parentActivityName=".Waitstaff.Waitstaff_MainScreen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Waitstaff.Waitstaff_Table_Details"
            android:parentActivityName=".Waitstaff.Waitstaff_TablesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Waitstaff.Waitstaff_Order_details"
            android:parentActivityName=".Waitstaff.Waitstaff_Table_Details"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Waitstaff.Waitstaff_item_details"
            android:parentActivityName=".Waitstaff.Waitstaff_MainScreen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Customer.customer_MainActivity"
            android:screenOrientation="landscape"/>
<!--<<<<<<< HEAD-->
            android:parentActivityName=".MainProjectScreen" />
            <!--android:screenOrientation="landscape" />-->
<!--=======-->
            <!--android:parentActivityName=".MainProjectScreen"-->
            <!--android:screenOrientation="landscape" />-->

<!--&gt;>>>>>> f19c78e487359097d8a1a7bd6d4e8b52c71a324e -->
        <activity android:name=".Customer.customer_login"
            android:screenOrientation="landscape"/>

        <activity android:name=".Customer.customer_Food"
            android:screenOrientation="landscape"/>
        <activity android:name=".Customer.customer_Entrees"
            android:screenOrientation="landscape"/>
        <activity android:name=".Customer.customer_drink"
            android:screenOrientation="landscape"/>
        <activity android:name=".Customer.customer_Dessert"
            android:screenOrientation="landscape"/>
        <activity android:name=".Customer.customer_Apps"
            android:screenOrientation="landscape"/>
        <activity android:name=".Customer.customer_Selection"
            android:screenOrientation="landscape"/>
        <activity android:name=".Customer.customer_Mods"
            android:screenOrientation="landscape"/>
        <activity android:name=".Customer.customer_Music"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Customer.customer_Games"
            android:label="@string/title_activity_games"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"/>
        <activity android:name=".Customer.customer_cart"
            android:screenOrientation="landscape"/>
        <activity android:name=".Customer.customer_DailySpecial"
            android:screenOrientation="landscape"/>
        <activity android:name=".Customer.customer_DS_Monday"
            android:screenOrientation="landscape"/>
        <activity android:name=".Customer.customer_DS_Tuesday"
            android:screenOrientation="landscape"/>
        <activity android:name=".Customer.customer_DS_Wednesday"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Customer.customer_DS_Thursday"
            android:label="@string/title_activity_customer__ds__thursday"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"/>
        <activity android:name=".Customer.customer_DS_Friday"
            android:screenOrientation="landscape"/>
    </application>

</manifest>